<footer >
  <div>
    <div id="social-media-container">
      <ul>
        <li><a href="#"><img src="./images/twitter.png"></a></li>
        <li><a href="#"><img src="./images/facebook.png"></a></li>
        <li><a href="#"><img src="./images/discord.png"></a></li>
      </ul>
    </div>
  </div>
</footer>
