<footer >
  <div>
    <div id="social-media-container">
      <ul>
        <li><a href="#"><img src="./twitter.png"></a></li>
        <li><a href="#"><img src="./facebook.png"></a></li>
        <li><a href="#"><img src="./discord.png"></a></li>
      </ul>
    </div>
  </div>
</footer>
