<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a><img id="/studentIndex" src="./images/university_logo.png"></a>
      <span id="universityname" >CRYSTAL LAKE</span>
      <ul id="main-menu">
        <li id="messages"><a><img id="/studentIndex" src="./images/messages.png"></a></li>
        <li id="upload"><a><img id="/studentIndex" src="./images/file.png"></a></li>
        <li id="dashboard"><a><img id="/studentIndex" src="./images/score.png"></a></li>
        <li id="out"><a><img id="/studentIndex" src="./images/logout.png"></a></li>
      </ul>
  </div>
</nav>

