<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a><img id="/teacherindex" src="./university_logo.png"></a>
      <ul id="main-menu">
        <li id="teacherupload"><a><img id="/studentIndex" src="./file.png"></a></li>
        <li id="teacherdashboard"><a><img id="/studentIndex" src="./score.png"></a></li>
        <li id="teacherout"><a><img id="/studentIndex" src="./logout.png"></a></li>
      </ul>

  </div>
</nav>

