<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a><img id="/studentIndex" src="./university_logo.png"></a>
      <ul id="main-menu">
        <li id="messages"><a><img id="/studentIndex" src="./messages.png"></a></li>
        <li id="upload"><a><img id="/studentIndex" src="./file.png"></a></li>
        <li id="dashboard"><a><img id="/studentIndex" src="./score.png"></a></li>
        <li id="out"><a><img id="/studentIndex" src="./logout.png"></a></li>
      </ul>

  </div>
</nav>

