<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a><img id="/teacherindex" src="./images/university_logo.png"></a>
      <span id="universityname">CRYSTAL LAKE</span>
      <ul id="main-menu">
        <li id="teacherupload"><a><img id="/studentIndex" src="./images/file.png"></a></li>
        <li id="teacherdashboard"><a><img id="/studentIndex" src="./images/score.png"></a></li>
        <li id="teacherout"><a><img id="/studentIndex" src="./images/logout.png"></a></li>
      </ul>
  </div>
</nav>

