 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="./styles.css">
	<title>welcome page</title>
</head>
<body>
	<%- include('components/navbarwelcome'); %>
	<div id="showing-section">
		<div id="welcome">
			<div>
				<h3>TEACHER</h3>
				<a id="teacher"><img src="./images/profesor.png"></a>
			</div>
			<div>
				<h3>STUDENT</h3>
				<a id="student"><img src="./images/estudiante.png"></a>
			</div>
		</div>
	</div>
	<%-	include('components/footer'); %>
<script>
	
	document.querySelector('#student').addEventListener('click', function () {
		window.location ="../../studentlogin"
	})

	document.querySelector('#teacher').addEventListener('click', function () {
		window.location ="../../teacherlogin"	
	})

</script>
</html>