<!DOCTYPE html>
<html lang="sp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8b8b86760e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="./styles.css">
	<title>Upload page</title>
</head>
<body>
	<%- include('../components/navbarteacher'); %>
	<div id="showing-section">
		
	</div>
	<%-	include('../components/footer'); %>
</body>
  <!-- <script src="./attached_teachers.js"></script> -->
</html>